<div class="d-flex flex-column align-items-center w-100 pt-3 skip-nav-bar">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="!loading && !gift">
        <h1>Ocorreu um erro ao tentar ler as informações deste presente</h1>
    </div>
    <div *ngIf="!loading && gift" class="d-flex flex-column align-items-center font-eb-garamond">
        <img *ngIf="gift.imageUrl" [src]="gift.imageUrl" class="w-50">
    
        <h1><b>{{ gift.name }}</b></h1>
        <h3>{{ gift.value | price }}</h3>
        <p class="mx-3 text-center" *ngIf="gift.description">{{ gift.description }}</p>
    
        <a *ngFor="let link of gift.links" [href]="link.url" target="_blank" class="my-1 w-75">
            <button mat-flat-button color="accent" class="w-100">
                <mat-icon>shopping_cart</mat-icon>
                Comprar no site
            </button>
        </a>
    
        <button mat-flat-button color="accent" class="my-1 w-75" (click)="showPix()">
            <mat-icon>pix</mat-icon>
            Utilizar Pix
        </button>
    
        <button mat-flat-button color="accent" class="my-1 w-75" (click)="showContactInfo()">
            <mat-icon>local_mall</mat-icon>
            Entregar presencialmente
        </button>
    
        <button mat-stroked-button  class="my-1 w-75" (click)="goBackToGifts()">
            <mat-icon>arrow_back</mat-icon>
            Retornar para a lista
        </button>
    </div>
</div>