p, h1, h2, h3, h4 {
    margin: 0
}

.nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 50px;
    transition: all 0.3s ease-in-out;

    .nav-bar-items {
        max-width: 1200px;
    }

}

.show {
    transform: translateY(0);
}

.hide {
    transform: translateY(-110%);
}
