<div class="nav-bar-container d-flex d-md-none flex-row justify-content-between align-items-center p-2 px-3 font-lobster-2 bg-white black-box-shadow"
    #navContainer>
    <a href="/" class="no-text-decoration">
        <h1 class="d-flex flex-row align-items-center m-0">
            Isabelle
            <div class="d-flex justify-content-center align-items-center mx-1">
                <mat-icon>favorite</mat-icon>
            </div>
            Tito
        </h1>
    </a>
    <a [routerLink]="" (click)="showNavMenu()" class="no-text-decoration">
        <h2 class="d-flex flex-row align-items-center m-0">
            <div class="d-flex justify-content-center align-items-center mx-1">
                <i class="fas fa-bars"></i>
            </div>
        </h2>
    </a>
</div>

<app-nav-menu *ngIf="showingNavMenu" (close)="onCloseNavMenu()">
</app-nav-menu>

<div
    class="nav-bar-container d-none d-md-flex flex-row justify-content-center align-items-center p-2 px-3 font-lobster-2 bg-white black-box-shadow">
    <div class="nav-bar-items d-flex flex-row justify-content-around align-items-center p-2 px-3 w-100 font-lobster-2">
        <a routerLink="/" class="no-text-decoration d-flex flex-row justify-content-start m-0 col-4">
            <h1 class="w-100">
                Isabelle
                <mat-icon>favorite</mat-icon>
                Tito
            </h1>
        </a>
        <div class="d-flex flex-row justify-content-around col-8">
            <a routerLink="photos" class="no-text-decoration">
                <h4>Fotos</h4>
            </a>
            <a routerLink="gifts" class="no-text-decoration">
                <h4>Lista de presentes</h4>
            </a>
        </div>
    </div>
</div>