<div class="d-flex flex-column justify-content-center align-items-center nav-menu-container bg-white font-lobster-2">
    <a [routerLink]="" (click)="onClose()" class="no-text-decoration">
        <h1 class="mb-3">
            <mat-icon>
                cancel
            </mat-icon>
        </h1>
    </a>

    <a href="/" class="no-text-decoration">
        <h3 class="my-1">
            Página inicial
        </h3>
    </a>
    <a href="/gifts" class="no-text-decoration">
        <h3 class="my-1">
            Presentes
        </h3>
    </a>
    <a href="/photos" class="no-text-decoration">
        <h3 class="my-1">
            Fotos
        </h3>
    </a>
    <a href="/locations" class="no-text-decoration">
        <h3 class="my-1">
            Local
        </h3>
    </a>
</div>