<div class="d-flex flex-column align-items-center skip-nav-bar font-lobster-2 text-center pt-3 px-3">
    <h1>
        Muito obrigado!
        <i class="fas fa-smile-beam"></i>
        <i class="fas fa-heart"></i>
    </h1>
    <h3 class="my-3">
        Seu presente nos ajudará muito! Que Deus te abençoe imensamente!
    </h3>
    <h3 class="my-3">
        Um forte abraço do João e da Isa <br />
        <i class="fab fa-gratipay pt-2"></i>
    </h3>
    <app-contact-form></app-contact-form>
</div>