<div class="font-lobster-2 d-flex d-md-none flex-column align-items-center text-center px-3">
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center px-3">
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-5 mat-primary-text">
            <h1>Vamos nos casar!</h1>
        </div>
        <div class="d-flex flex-column col-12 col-md-5">
            <p class="text-center my-3">
                "E o Senhor nos guiará continuamente, e fartará as nossas almas em lugares secos, e fortificará 
                os nossos ossos; e seremos como um jardim regado, e como um manancial, cujas águas nunca faltam."
            </p>
            <p class="text-center">
                Isaías 58:11
            </p>
        </div>
    </div>
    <i class="fas fa-heart mat-primary-text"></i>
    <h3 class="my-3">Te convidamos para participar deste momento tão especial de nossas vidas!</h3>
    <i class="fas fa-heart mat-primary-text"></i>
    <p class="my-3">Faremos a transmissão online da nossa cerimônia, e ficaríamos muito felizes de ter você conosco!</p>
    <p class="mb-3">O link para a transmissão será disponibilizado nesta página no dia do casamento.</p>
    <h2>
        <i class="fas fa-rss mx-1 mat-primary-text"></i>
        <i class="fas fa-tv mx-1 mat-primary-text"></i>
    </h2>
    <h3 class="my-3 mat-primary-text">
        Será muito bom ter sua companhia neste momento!
    </h3>
    <mat-divider class="w-75 my-3"></mat-divider>
    <p>Se você deseja nos presentear, por favor, visite nossa página de presentes.</p>

    <a href="/gifts" class="no-text-decoration">
        <button mat-stroked-button>
            <i class="fas fa-gift"></i>
            Visitar página de presentes
        </button>
    </a>
</div>
<div class="font-lobster-2 d-none d-md-flex flex-column align-items-center text-center px-3">
    <h2 class="my-2">
        <i class="fas fa-heart mat-primary-text"></i>
    </h2>
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center px-3">
        <div class="d-flex flex-column col-10">
            <p class="text-center my-3">
                "E o Senhor nos guiará continuamente, e fartará as nossas almas em lugares secos, e fortificará 
                os nossos ossos; e seremos como um jardim regado, e como um manancial, cujas águas nunca faltam."
            </p>
            <p class="text-center">
                Isaías 58:11
            </p>
        </div>
    </div>
    <h3 class="my-3">Te convidamos para participar deste momento tão especial de nossas vidas!</h3>
    <p class="my-1">Faremos a transmissão online da nossa cerimônia, e ficaríamos muito felizes de ter você conosco!</p>
    <p class="my-1 mb-3">O link para a transmissão será disponibilizado nesta página no dia do casamento.</p>
    <h2>
        <i class="fas fa-rss mx-1 mat-primary-text"></i>
        <i class="fas fa-tv mx-1 mat-primary-text"></i>
    </h2>
    <h3 class="my-3 mat-primary-text">
        Será muito bom ter sua companhia neste momento!
    </h3>
    <mat-divider class="w-75 my-3"></mat-divider>
    <p>Se você deseja nos presentear, por favor, visite nossa página de presentes.</p>

    <a href="/gifts" class="no-text-decoration mb-5">
        <button mat-stroked-button>
            <i class="fas fa-gift"></i>
            Visitar página de presentes
        </button>
    </a>
</div>