<div class="d-flex flex-column align-items-center page-container font-lobster-2 skip-nav-bar">
    <h1 class="display-4 my-3">Local</h1>
    <h3 class="text-center mx-1">Igreja Presbiteriana Central de Jataí</h3>
    <p class="text-center mx-1">Av. Brasil, 869 - St. Central - Parte Baixa, Jataí - GO 75800-051</p>
    <div class="d-none d-md-flex flex-column justify-content-start mb-3">
        <iframe 
            class="map-container black-box-shadow"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15188.147237607203!2d-51.7148777!3d-17.8837323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c2048750397ba33!2sIgreja%20Presbiteriana%20Central%20de%20Jata%C3%AD!5e0!3m2!1sen!2sbr!4v1641476034443!5m2!1sen!2sbr" 
            width="700"
            height="450" 
            allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>
    <div class="d-flex d-md-none flex-column justify-content-start mb-3">
        <iframe 
            class="map-container black-box-shadow"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15188.147237607203!2d-51.7148777!3d-17.8837323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c2048750397ba33!2sIgreja%20Presbiteriana%20Central%20de%20Jata%C3%AD!5e0!3m2!1sen!2sbr!4v1641476034443!5m2!1sen!2sbr" 
            width="300"
            height="300" 
            allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>
</div>