<div class="w-100 d-flex d-md-none flex-column align-items-center justify-content-center skip-nav-bar">
    <app-main-page-our-photo class="mb-3"></app-main-page-our-photo>
    <app-wedding-date-display class="my-3"></app-wedding-date-display>
    <app-wedding-presentation class="my-3"></app-wedding-presentation>
</div>

<div class="w-100 d-none d-md-flex flex-column align-items-center justify-content-center font-lobster-2 skip-nav-bar">
    <app-main-page-our-photo class="my-4 w-100"></app-main-page-our-photo>
    <app-wedding-date-display class="w-100"></app-wedding-date-display>
    <app-wedding-presentation></app-wedding-presentation>
</div>