.gift-container {
    // border: 1px solid;
    // border-radius: 5px;

    max-width: 500px;
    height: 250px;

    img {
        max-width: 85%;
        max-height: 50%;
        object-fit: cover;
    }
}