<p *ngIf="failed" class="mt-3">
    Ocorreu uma falha ao tentar obter a lista de presentes
    <i class="fas fa-sad-tear"></i>
</p>
<div class="d-flex flex-row flex-wrap" *ngIf="!failed && gifts?.length > 0">
    <div class="d-flex flex-column justify-content-end align-items-center gift-container p-3 col-6 col-md-3 my-1"
    *ngFor="let gift of gifts">
    <h1 *ngIf="!gift.imageUrl">
        <i class="fas fa-gift"></i>
    </h1>
    <img [src]="gift.imageUrl" *ngIf="gift.imageUrl">
    <div class="w-100 align-self-center">
        <h3 class="text-center">{{ gift.name }}</h3>
        <p>{{ gift.value | price }}</p>
    </div>
        <button mat-flat-button color="accent" class="w-100" (click)="goToGiftDetails(gift.id)">
            Presentear
        </button>
    </div>
</div>
<ng-container *ngIf="!loading && !failed">
    <button mat-raised-button color="accent" class="my-3" (click)="loadMoreGifts()" *ngIf="anyElementsRemaining">
        <mat-icon>add_circle_outline</mat-icon>
        Ver mais presentes
    </button>
    <h3 class="d-flex flex-row align-items-center justify-content-center my-3 w-100" *ngIf="!anyElementsRemaining">
        <mat-icon>check_circle</mat-icon>
        Fim da lista
    </h3>
</ng-container>
<div class="d-flex flex-row justify-content-center align-items-center w-100" *ngIf="loading" >
    <mat-spinner class="my-5"></mat-spinner>
</div>