.photo-container {
    width: 50vw;
    height: 50vw;
    max-width: 50vh;
    max-height: 50vh;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        border: 4px solid;
        border-radius: 50%;
    }
}